
@{
    ViewBag.Title = "Dashboard";
}

<h2 aline="center">Dashboard</h2>


<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 280px;">
                        
                        
                        <div class="d-flex justify-content-center mb-2">
                            <a href="../Driver/Profile">
                                <button type="button" class="btn btn-outline-primary ms-1">Profile</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-lg-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body text-center">
                                <img src="../../image/img_544924.png" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 110px;"

                            </div>
                            <div class="d-flex justify-content-center mb-1">
                                <a href="../Driver/TripOparation">
                                    <button type="button" class="btn btn-outline-primary ms-1">Available Posts</button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="card-body text-center">
                            <img src="../../image/cancel_images.png" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 110px;"

                        </div>
                        <div class="d-flex justify-content-center mb-1">
                            <a href="../Driver/ConfirmedTripOparation">
                                <button type="button" class="btn btn-outline-primary ms-1">Cancel Ride Request</button>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>